# --- Java & Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Eclipse ---
.settings/
.project
.classpath
.factorypath

# --- VS Code ---
.vscode/

# --- OS & Log files ---
log/
*.log
.DS_Store
Thumbs.db

# --- Spring Boot ---
*.jar
*.war
*.ear